.main-bar{
    position: absolute;
}

.lng-x-text-flex{
    display: flex;
}

.x-text{
margin-left: 620px;
font-family: 'Nova Square';
font-style: normal;
font-weight: 400;
font-size: 40px;
margin-top: 15px;
/* line-height: 121px; */
/* display: flex;
align-items: center;
text-align: center; */
color: #000000;
}

.lng-text{
font-family: 'Nova Square';
font-style: normal;
font-weight: 400;
font-size: 58px;
/* line-height: 121px; */
/* display: flex;
align-items: center;
text-align: center; */
color: #1DD9B3;
}

.your-device-text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #1DD9B3;
    max-width: 270px;
    text-align: center;
    margin-left: 570px;
}

.laptop-img{
    margin-left: 605px;
    width: 199px;
}

.contact-us-text{
    width: 160px;
    height: 44px;
    background-color: #1DD9B3;;
    margin-left: 619px;
    margin-top: 25px;
    border-radius: 8px;
}

.contact-text{
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-top: 26px;
    /* line-height: 121px; */
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}